<div class='row'>

  <div class='col-md-4 col-12 mt-3' *ngFor='let task of taskData'>

    <a [matMenuTriggerFor]='menu' style='cursor: pointer' class='text-decoration-none'>

      <mat-card class='shadow shadow-sm border rounded-3'>

        <mat-card-content>

          <div class='d-flex align-items-center'>

            <div class='d-block ms-2'>
              <h2 class='m-0'>{{task.title}}</h2>
              <div class='d-flex'>
                <span class=' text-muted'>{{task.description || 'توضیحاتی ثبت نشده است'}}</span>
              </div>
            </div>


            <div class='status-avatar mb-auto ms-auto'
                 [matTooltip]='task.status_name'
                 [ngStyle]="{'background': task.status_color}"></div>

          </div>

          <div class='d-block mt-2'>
            <div class='d-flex align-items-center'>
              <button mat-icon-button matTooltip='پروژه'>
                <mat-icon class='text-muted'>local_fire_department</mat-icon>
              </button>
              <span class='text-muted'>{{task?.project?.title}}</span>
            </div>
          </div>

          <div class='d-flex align-items-center mt-2'>
            <div class='d-flex align-items-center'>
              <button mat-icon-button matTooltip='محدودیت زمانی'>
                <mat-icon class='text-danger'>notifications_active</mat-icon>
              </button>
              <span class='text-danger'>{{task.dead_line | persianDate}}</span>
            </div>

            <div class='d-flex align-items-center mx-auto'>
              <button mat-icon-button matTooltip='تاریخ شروع'>
                <mat-icon class='text-success'>not_started</mat-icon>
              </button>
              <span class='text-success'>{{task.start_date | persianDate}}</span>
            </div>
          </div>

          <div class='overflow-hidden mt-2'>

            <span class='text-muted float-start ms-3' style='font-size: 10px;' [matTooltip]="task.assigneeTooltip">({{task.assignee_full_name}})</span>

            <span class='text-muted float-end me-2' style='font-size: 10px;' [matTooltip]="task.ownerTooltip">({{task.owner_full_name}})</span>

          </div>


        </mat-card-content>

      </mat-card>
      <mat-menu #menu='matMenu'>
        <button mat-menu-item [routerLink]="['/task/create']" [queryParams]='{taskId: task.id, projectId}'>ویرایش
        </button>
        <button mat-menu-item (click)='openSubTasks(task.id, $event)'>مشاهده ساب تسک ها</button>
      </mat-menu>

    </a>

  </div>

</div>
