<div class='row mt-3'>

  <nav class='bottom-nav'>
    <a class='bottom-nav__destination' routerLinkActive='bottom-nav__destination--active' [routerLink]="['/dashboard']">
      <mat-icon>chair</mat-icon>
      <span class='bottom-nav__label'>اتاق مشاور</span>
    </a>

    <a class='bottom-nav__destination' routerLinkActive='bottom-nav__destination--active'
       [routerLink]="['/user/profile-view']">
      <mat-icon>portrait</mat-icon>
      <span class='bottom-nav__label'>پروفایل</span>
    </a>

    <a class='bottom-nav__destination' routerLinkActive='bottom-nav__destination--active' [routerLink]="['/vacation']">
      <mat-icon>mail_outline</mat-icon>
      <span class='bottom-nav__label'>نامه ها</span>
    </a>

  </nav>

</div>
