<div class='overflow-hidden'>

  <h2 class='float-start'>افزودن ساب تسک </h2>
  <button mat-icon-button color='warn' class='float-end' (click)='this.dialogRef.close()'>
    <mat-icon>cancel</mat-icon>
  </button>

</div>

<form [formGroup]='subTaskForm' (ngSubmit)='submitSubTask()'>

  <div class='row'>

    <div class='col-6'>

      <mat-form-field appearance='outline' class='w-100'>
        <mat-label>انتساب به</mat-label>
        <mat-select formControlName='assign'>
          <mat-option *ngFor='let user of users'
                      [value]='user.id'>
            {{user.first_name}} {{user.last_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class='col-6'>

      <mat-form-field appearance='outline' class='w-100'>
        <mat-label>وضعیت تسک</mat-label>
        <mat-select formControlName='status' [required]='false'>
          <mat-option *ngFor='let status of statuses' [value]='status.id'>
            {{status.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class='col-12'>

      <mat-form-field appearance='outline' class='w-100'>
        <mat-label>توضیحات</mat-label>
        <input matInput formControlName='message'>
      </mat-form-field>

    </div>

  </div>

  <div class='row'>
    <hr class='w-100 text-black'>
    <div class='overflow-hidden'>
      <h3 class='float-start'>فایل ها</h3>
      <button mat-mini-fab (click)='addFile()' class='float-end' type='button' [class.spinner]='loadingUploadFile'
              [disabled]='loadingUploadFile'>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <ng-container formArrayName='fileList'>

    <ng-container *ngFor='let file of files.controls; let i = index'>

      <div class='row' [formGroupName]='i'>

        <div class='col-12'>


<!--          <input name='uploadedFile' class='d-none' type='file' [id]='i'-->
<!--                 (change)="addFileObject($event, 'file', i)" />-->
          <mat-form-field appearance='standard' class='w-75'>
            <input matInput formControlName='fileName' [required]='false' (click)='triggerFileSelect(i)'
                   [placeholder]="file.get('fileName')?.value" [readonly]='loadingUploadFile'>
            <mat-icon matPrefix color='primary'>attach_file</mat-icon>
          </mat-form-field>

          <input name="uploadedFile" class="d-none" type="file" [id]="i" (change)="addFileObject($event, 'file', i)"/>


          <div class='float-end mt-3'>

            <button mat-mini-fab (click)='deleteFile(i)' color='warn' class='ms-4' [disabled]='showUploader'>
              <mat-icon>delete_forever</mat-icon>
            </button>

            <button mat-mini-fab (click)='addFile()' class='ms-2' type='button' [disabled]='showUploader'>
              <mat-icon>add</mat-icon>
            </button>

          </div>

        </div>

      </div>

    </ng-container>

    <div class="row" *ngIf="showUploader">

      <div class="col-md-12">
        <div class="overflow-hidden">
          <p class="float-start">{{fileUploaded || 0}} %</p>
        </div>
        <mat-progress-bar mode="determinate" dir="rtl" [value]="fileUploaded || 0"></mat-progress-bar>
      </div>

    </div>


    <div class='row'>
      <div class='col-md-12'>
        <button mat-raised-button color='primary' [class.spinner]='loadingUploadFile' [disabled]='loadingUploadFile'>
          ثبت
        </button>
      </div>
    </div>

  </ng-container>

</form>
