.wrapper-logs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

::ng-deep .cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  overflow: auto !important;
}
