<mat-nav-list>
  <a [routerLink]="['/dashboard']" routerLinkActive='active-menu' matTooltip='داشبورد' matTooltipPosition='before'
     mat-list-item class='d-flex'>
    <mat-icon class='center-icon'>chair</mat-icon>
    <span style='font-size: 12px;'> مشاور</span>
  </a>

  <hr class='w-100 bg-dark my-3'>

  <a [routerLink]="['/user/profile-view']" routerLinkActive='active-menu' matTooltip='پروفایل'
     matTooltipPosition='before'
     mat-list-item class='d-flex'>
    <mat-icon class='center-icon'>portrait</mat-icon>
    <span style='font-size: 12px;'>پروفایل</span>
  </a>

  <hr class='w-100 bg-dark my-3'>

  <a [routerLink]="['/vacation']" routerLinkActive='active-menu' matTooltip='نامه ها' matTooltipPosition='before'
     mat-list-item class='d-flex'>
    <mat-icon class='center-icon'>mail_outline</mat-icon>
    <span style='font-size: 12px;'>نامه ها</span>
  </a>

</mat-nav-list>
