<mat-toolbar>
  <mat-toolbar-row style='overflow: hidden; display: inline-block !important; background: #af80e8; color: white'>

<!--    <button mat-icon-button class='menu-btn mt-3 mb-1 float-start' (click)='toggleMenu()' id='side-menu'>-->
<!--      <mat-icon class='mat-18'>-->
<!--        {{(this.sideExpand) ? 'arrow_forward' : 'menu'}}-->
<!--      </mat-icon>-->
<!--    </button>-->

    <button mat-icon-button class='mt-3 mb-1 float-end' [matMenuTriggerFor]='menu'>
      <mat-icon>person</mat-icon>
    </button>

    <mat-menu #menu='matMenu'>
      <button mat-menu-item (click)='logout()'>
        <mat-icon>logout</mat-icon>
        خروج
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>


<div class='container-fluid'>

  <mat-sidenav-container style='min-height: 100vh'>

<!--    <mat-sidenav #sidenav [mode]='navMode' [(opened)]='sideExpand' class='custom-side-nav'>-->
<!--      <app-sidebar (closeNav)='sidenav.close()'></app-sidebar>-->
<!--    </mat-sidenav>-->

    <mat-sidenav-content>

      <div class='main-content d-flex flex-column justify-content-between' id='top'>

        <div class='py-2 pe-4' id='main-container'>
          <router-outlet></router-outlet>
        </div>

      </div>


    </mat-sidenav-content>

  </mat-sidenav-container>

</div>


<!--<app-footer id='footer'></app-footer>-->
