<app-page-header [pageTitle]="'ساب تسک ها'"
                 [secondButtonIcon]="'loupe'"
                 [secondButtonTooltip]="'افزدن ساب تسک'"
                 (secondButtonAction)='openCreateSubTask()'
                 [firstButtonIcon]="'cancel'"
                 (firstButtonAction)='this.dialogRef.close(false)'>
</app-page-header>


<mat-accordion>

  <mat-expansion-panel class='my-2' *ngFor='let subTask of subTasks'>
    <mat-expansion-panel-header>
      <mat-panel-title>{{subTask?.message}}</mat-panel-title>
      <mat-panel-description>{{subTask?.task?.title}}</mat-panel-description>
    </mat-expansion-panel-header>
    <hr class='w-100 text-black'>
    <div class='overflow-hidden'>
      <h3 class='float-start'>فایل ها</h3>
      <button mat-icon-button color='accent' (click)='openCreateSubTask(subTask)' class='float-end'>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div *ngIf='subTask?.files.length > 0'>
      <mat-chip-list *ngFor='let file of subTask?.files'>
        <mat-chip color='primary' selected>{{file}}</mat-chip>
      </mat-chip-list>
    </div>
  </mat-expansion-panel>

</mat-accordion>
